
body {
    
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.nav{

    display: flex;
    background-color: rgb(21, 52, 80);
    height: 150px;
    justify-content: space-evenly;
    
    
    
}
.box1{
    color: black;
    width: 100px;
    height: 100px;
    background-color:#74b94f;
    margin: 20px;
}
.box2{
    display: flex;
    justify-content: center;
    width:1700px;
    height: 100px;
    background-color:rgb(20, 59, 80);
    margin: 20px;
    
    
}
.bos{
    background-color: rgb(20, 59, 83);
    color: white;
  
    width: 97%;
    margin-top:20px ;
    margin-bottom: 20px;
    
}

.vv{
    text-align: center;
    font-size: 60px;
}



.box3{
    color: white;
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: #74b94f;
    margin: 20px;
}

.panel{
    background-color:rgb(21, 60, 86);
    height: 10px;
}

.hero-img{
    background-image: url("photo3.jpg");
    background-size: cover;
    height: 150px;
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: flex-end;
    border: 2px solid green;
    
}
.shop-section{
    color: white;
    display: flex;
    justify-content: space-evenly;
    background-color: lightgray;
    flex-wrap: wrap;
    
}
.box{
    color: white;
    font-size: 30px;
    height: 390px;
    width: 370px;
    border: 2px solid #000000;
    margin-top: 30px;
    margin-bottom: 20px;
}

.boxx1{
    background-image: url(photo6.jpg);
    background-size: cover;
}
.boxx2{
    background-image: url(photo5.jpg);
    background-size: cover;
}
.boxx3{
    background-image: url(photo4.jpg);
    background-size: cover;
}
.boxx4{
    background-image: url(photo3.jpg);
    background-size: cover;
}
.boxx5{
    background-image: url(photo2.jpg);
    background-size: cover;
}
.boxx6{
    background-image: url(photo1.jpg);
    background-size: cover;
}


.fot1{
    height: 50px;
    width: 300px;
    background-color: gray;
    margin: 20px;
    display: flex;
}

.boxyz{
    height: 390px;
    width: 350px;
    border: 2px solid #000000;
    margin-top: 30px;
    margin-bottom: 20px;
}
.last{

display: flex;
justify-content: space-evenly;
background-color: gray;
flex-wrap: wrap;
}
.abc{
    height: 250px;
    background-color: rgb(20, 59, 83);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.xyz{
    color: white;
    text-align: center;
    background-color: rgb(20, 59, 83);
    width: 700px;
    height: 80px;
    margin-top: 80px;
    font-size: 50px;
   
}

